<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

  <div id="slider">
    <form action="/board/list" method="get">
      <div class="inner-form">
        <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
        <div class="input-field first-wrap">
          <div class="input-select" >
            <select name="type">
              <option placeholder="" value="">📚카테고리</option>
              <option value="t" th:selected="${pageRequestDTO.type == 't'}">📔제목</option>
              <option value="c" th:selected="${pageRequestDTO.type == 'c'}">📕내용</option>
              <option value="w" th:selected="${pageRequestDTO.type == 'w'}">📗작성자</option>
              <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">📘제목+내용</option>
              <option value="tcw" th:selected="${pageRequestDTO.type == 'tcw'}">📙제목+내용+작성자</option>
            </select>
          </div>
        </div>
        <div class="input-field second-wrap">
          <input id="search" type="text" name="keyword" th:value="${pageRequestDTO.keyword}" placeholder="찾고 싶은 주제를 입력해보세요"/>
        </div>
          <button class="btn-search" type="button">
              <i class="fa-solid fa-magnifying-glass"></i>
          </button>
      </div>
    </form>
  </div>

  <section class="section blog-area">
    <div class="container">
      <div th:with="link = ${pageRequestDTO.getLink()}">
        <div th:each="dto:${responseDTO.dtoList}">
          <!-- Post preview-->
          <div class="single-post">
<!--              <div class="image-wrapper" th:if="${dto.boardImages != null && dto.boardImages.size() > 0}">-->
<!--                <img style="width: 500px; height: 400px;" th:each="boardImage : ${dto.boardImages}"-->
<!--                     th:src="|/view/s_${boardImage.uuid}_${boardImage.fileName}|">-->
<!--              </div>-->
              <div class="single-post-main">
                  <div class="image-wrapper">
                    <img th:src="@{/img/home-bg.jpg}">
                  </div>
                  <div class="board-info">
                      <h2 class="title"><b class="light-color">[[${dto.title}]]</b></h2>
                      <h5 class="content"><b class="light-color">What is Lorem Ipsum?
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                          when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                          remaining essentially unchanged. It was popularised in the 1960s with the release of
                          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                         </b></h5>
                  </div>
                  <div class="icons">
                    <ul class="right-area social-icons">
                      <li><i class="ion-android-textsms"></i>[[${dto.replyCount}]]</li>
                    </ul>
                  </div>
              </div>
              <div class="single-post-bottom">
                  <a class="btn read-more-btn" th:href="|@{/board/read(bno=${dto.bno})}&${link}|"><b>더 읽어보기</b></a>
                  <p class="date"><em>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</em></p>
<!--                  <div class="left-area">-->
<!--                      <a class="btn caegory-btn" href="#"><b>태그들</b></a>-->
<!--                  </div>-->
              </div>
          </div><!-- single-post -->

        </div>
        <!-- Pager-->
        <div style="text-align: center">
          <ul class="pagination flex-wrap" style="justify-content: center">
            <li class="page-item" th:if="${responseDTO.prev}">
              <a class="page-link" th:data-num="${responseDTO.start - 1}">Previous</a>
            </li>
            <th:block th:each="i : ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
              <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                <a class="page-link" th:data-num="${i}">[[${i}]]</a>
              </li>
            </th:block>
            <li class="page-item" th:if="${responseDTO.next}">
              <a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>


<script layout:fragment="script" th:inline="javascript">

  document.querySelector(".pagination").addEventListener("click", function (e){
    e.preventDefault()
    e.stopPropagation()

    const target= e.target

    if(target.tagName !== 'A'){
      return
    }

    const num = target.getAttribute("data-num")
    const formObj = document.querySelector("form")
    formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
    formObj.submit();

  },false)

</script>
