<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-srpingsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <title>Board read</title>
</head>

<div layout:fragment="header">
  <!-- Page Header-->
  <header class="masthead" th:style="'background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)),url(' + @{/img/post-bg.jpg} + '); background-size : cover;'">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="post-heading" th:style="'height : 40vh; text-align: center; color:white; padding : 100px;'">
            <h1 th:style="'color : white; font-size : 70px;'">[[${dto.title}]]</h1>
            <small th:style="'color : white; font-size : 20px;'">
              <span class="meta">
              [[${dto.writer}]]&nbsp; [[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]
              </span>
            </small>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
<!-- Post Content-->
<article class="mb-4" th:with="user=${#authentication.principal}" layout:fragment="content">
  <div class="container px-4 px-lg-5" th:with="link = ${pageRequestDTO.getLink()}">
    <a th:if="${user != null && user.username == dto.writer}" th:href="|@{/board/modify(bno=${dto.bno})}&${link}|" class="text-decoration-none">
      <button type="button" style="float : right" class="modifyBtn btn btn-outline-dark mr-md-3 mb-2 mb-md-0" >수정</button>
    </a>
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="w-100 overflow-auto" th:utext="${dto.content}"/>
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <div class="row height d-flex justify-content-center align-items-center ">
      <div class="col-md-10">
        <div class="card">
          <div class="p-3">
            <h6>Comments</h6>
          </div>
          <div class="mt-3 d-flex flex-row justify-content-center p-3 form-color">
            <img src="https://i.imgur.com/zQZSWrt.jpg" class="rounded-circle mr-2">
            <div class="mt-3 w-50 d-flex flex-column justify-center" th:with="user=${#authentication.principal}">
              <input type="text" th:style = "'width : 70%;'" class="form-control replyer" th:value="${user.username}" readonly>
              <input type="text" th:style = "'width : 100%;'" class="form-control replyText" placeholder="댓글을 입력하세요">
            </div>
            <button type="button" class="btn btn-outline-dark registerBtn w-40 h-25">등록</button>
          </div>
          <div class="mt-2 replyList">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade modifyModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/PFLMyWNd4aa7KXq22C" width="100%" height="100%" style="position:absolute; pointer-events: none" class="giphy-embed" allowFullScreen></iframe></div>
          <h5 class="replyHeader"></h5>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control modifyText">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-outline-dark reply-modifyBtn">수정</button>
          <button type="button" class="btn btn-sm btn-outline-danger reply-removeBtn">삭제</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/reply.js"></script>
</article>

<script layout:fragment="script" th:inline="javascript">

  const bno = [[${dto.bno}]]

  const currentUser = [[${#authentication.principal.username}]]

  let hasAuth = false

  const replyList = document.querySelector('.replyList')

  function printList(dtoList){

    let str = '';

    if(dtoList && dtoList.length > 0) {

      for(const dto of dtoList){

        str += `
            <div class="d-flex flex-row p-3">
            <img src="https://i.imgur.com/zQZSWrt.jpg" width="40" height="40" class="rounded-circle mr-3">
              <div class="w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-row align-items-center">
                    <span class="replyHeader"></span>
                    <span class="mr-2">${dto.replyer}</span>
                  </div>
                  <small>${dto.regDate}</small>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <p data-rno = ${dto.rno} class="text-justify comment-text mb-0 border-0 modifyText" style="width : 80%">
                  ${dto.replyText}
                  </p>
                  <small><---댓글 수정시 댓글을 입력해주세요</small>
                </div>
              </div>
            </div>
        `
      }
    }
    replyList.innerHTML = str
  }

  function printReplies(page, size, goLast){

    getList({bno, page, size, goLast}).then(
            data => {
              printList(data.dtoList)
            }
    ).catch(e => {
      console.error(e)
    })
  }

  printReplies(1,10)

  const registerBtn = document.querySelector(".registerBtn")
  const replyText = document.querySelector(".replyText")
  const replyer = document.querySelector(".replyer")

  registerBtn.addEventListener("click", function(e) {
    const replyObj = {
      bno : bno,
      replyText : replyText.value,
      replyer : replyer.value
    }

    addReply(replyObj).then(result => {
      replyText.value = ''
      replyer.value = ''
      printReplies(1,10, true)
    }).catch(e => {
      alert("Exception...")
    })
  },false)

  const modifyModal = new bootstrap.Modal(document.querySelector(".modifyModal"))

  const replyHeader = document.querySelector(".replyHeader")
  const modifyText = document.querySelector(".modifyText")
  const replyModifyBtn = document.querySelector(".reply-modifyBtn")
  const replyRemoveBtn = document.querySelector(".reply-removeBtn")

  replyList.addEventListener("click", function(e){

    e.preventDefault()
    e.stopPropagation()

    const rno = e.target.getAttribute("data-rno")

    if(!rno){
      return
    }

    getReply(rno).then(reply => {

      replyHeader.innerHTML = reply.rno
      modifyText.value = reply.replyText
      modifyModal.show()

      hasAuth = currentUser === reply.replyer
      console.log(reply.replyer);

    }).catch(e => console.log(e))


  },false)

  replyModifyBtn.addEventListener("click", function(e) {

    if(!hasAuth){
      alert("댓글 작성자만 수정이 가능합니다.")
      modifyModal.hide()
      return
    }

    if(modifyText.value === ""){
      alert("비어 있을 수 없습니다")
      return;
    }

    const replyObj = {
      bno : bno,
      rno : replyHeader.innerHTML,
      replyText : modifyText.value
    }

    modifyReply(replyObj).then(result => {
      modifyModal.hide()
      printReplies(1, 10)
    }).catch(e => {
      console.log(e)
    })
  },false)


  replyRemoveBtn.addEventListener("click", function(e) {

    if(!hasAuth){
      alert("댓글 작성자만 삭제가 가능합니다.")
      modifyModal.hide()
      return
    }

    removeReply(replyHeader.innerHTML).then(result => {
      modifyModal.hide()
      printReplies(1, 10)

    }).catch(e => {
      console.log(e)
    })

  },false)

</script>