<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
  <div class="card-body">
    <form action="/board/register" method="post">
      <div class="input-group mb-3">
        <span class="input-group-text">제목</span>
        <input type="text" name="title" class="form-control" placeholder="제목">
      </div>

      <div class="input-group mb-3 style">
        <span class="input-group-text">작성자</span>
        <input type="text" name="writer" class="form-control" placeholder="Writer">
      </div>

      <div id="editor" style=" height: 50vh; overflow:auto"></div>
      <input type="hidden" id="quill_content" name="content">

      <div class="my-4">
        <div class="float-none">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
      </div>
    </form>

  </div>
</div>

<script layout:fragment="script" th:inline="javascript">
  var quill = new Quill('#editor',{
    modules : {
      toolbar : [
              [{header : [1,2,false]}],
              ['bold', 'italic', 'underline'],
              ['image','code-block', 'blockquote'],
              [{list : 'ordered'}, {list : 'bullet'}]
      ]
    },
    theme:'snow'
  });

  quill.on('text-change', function() {
    document.getElementById("quill_content").value = quill.root.innerHTML;
  })

  const errors = [[${errors}]]
  console.log(errors)

  let errorMsg = ''

  if(errors) {
    for(let i = 0; i < errors.length; i++){
      errorMsg += `${errors[i].field}은(는) ${errors[i].code}\n`
    }
    alert(errorMsg)
  }



</script>