/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */

html{ font-size: 100%; height: 100%;  overflow-x: hidden; touch-action: manipulation; }

body{ font-size: 15px; font-family: 'Roboto', sans-serif; width: 100%; height: 100%; margin: 0; font-weight: 400;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; word-wrap: break-word; 
	color: #000; }

h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, inpot, button{ margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6{ line-height: 1.5; font-weight: inherit; }

p{ line-height: 1.6; font-size: 1.05em; font-family: 'Maven Pro', sans-serif; font-weight: 400; color: #555; }

h1{ font-size: 4em; line-height: 1; }
h2{ font-size: 2.8em; line-height: 1.1; }
h3{ font-size: 1.8em; }
h4{ font-size: 1.5em; }
h5{ font-size: 1.2em; }
h6{ font-size: .9em; letter-spacing: 1px; }

a, button{ display: inline-block; text-decoration: none; color: inherit; transition: all .3s; }

a:focus, a:active, a:hover,
button:focus, button:active, button:hover,
a b.light-color:hover{ text-decoration: none; color: #FFAD4D; }

b{ font-weight: 500; }

img{ width: 100%; }

li{ list-style: none; display: inline-block; }

span{ display: inline-block; }

button{ outline: 0; border: 0; background: none; cursor: pointer; }

b.light-color{ color: #444; }



/* ---------------------------------
2. COMMONS FOR PAGE DESIGN
--------------------------------- */

.btn{ font-size: .9em; padding: 15px 30px; border-radius: 1px; letter-spacing: 2px; 
	border: 1px solid #FFAD4D; background: #FFAD4D; color: #fff; }

.btn:hover{ color: #FFAD4D; background: none; }

.btn-2{ background: none; color: #FFAD4D; }

.btn-2:hover{ background: #FFAD4D; color: #fff; }

.btn-search { padding : 7px 7px; }

.btn-search i { font-size: 2em;}

.section{ padding: 70px 0 40px; }

.section .heading{ padding-bottom: 70px; }

.center-text{ text-align: center; } 

.color-white{ color: #fff; }

.display-table{ display: table; height: 100%; width: 100%; }

.display-table-cell{ display: table-cell; vertical-align: middle; }

.card{ background: transparent; border: 0; }

.icon{ font-size: 2em; }

.left-area{ float: left;  }

.right-area{ float: right;  }

.width-60{ width:60%; }

.width-50{ width: 50%; }


::-webkit-input-placeholder { font-size: .9em; letter-spacing: 1px; }

::-moz-placeholder { font-size: .9em; letter-spacing: 1px; }

:-ms-input-placeholder { font-size: .9em; letter-spacing: 1px;  }

:-moz-placeholder { font-size: .9em; letter-spacing: 1px;  }



/* ---------------------------------
3. MENU
--------------------------------- */

header{ left: 0; right: 0; top: 0; z-index: 1000; font-size: .95em;
	box-shadow: 0px 2px 10px rgba(0,0,0, .3); background: #fff; }

/* SEARCH AREA */

header .src-area{ position: relative; float: left; height: 45px; width: 250px; display: inline-block; 
	border-left: 1px solid #ddd; border-right: 1px solid #ddd; background: #fff; }

header .src-area .src-input{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%;
	padding: 0 40px 0 20px; background: transparent; border: 0; outline: 0; }

header .src-area .src-input:focus{ box-shadow: 0px 0px 1px #aaa; }

header .src-area .src-btn{ position: absolute; top: 0; bottom: 0; right: 0; width: 40px; font-size: 1.2em; 
	opacity: .6; z-index: 10; }

	
	
/* MIDDLE AREA */

header .middle-menu{ border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;  }

header .logo{ padding: 30px 0; height: 160px; }

header .logo img{ height: 100%; width: auto; }


/* BOTTOM AREA */

header .bottom-area{ text-align: center; }

header .main-menu{ font-weight: 800; }

header .main-menu > li > a{ height: 60px; line-height: 60px; padding: 0 25px; font-size: large;}

header .main-menu > li > a:hover{ background: #eee; }

header .visible.main-menu{ display: block; }

/* DROPDOWN HOVER */

header .main-menu li a.mouseover{ background: #F2F3F4; }

header .main-menu li.drop-down a.mouseover + ul.drop-down-menu{ display: block; 
	animation: full-opacity-anim .2s forwards; }


@keyframes full-opacity-anim{
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}

/* NAV ICON */

.menu-nav-icon{ display: none; height: 60px; width: 50px; text-align: center; line-height: 60px; cursor: pointer; 
	font-size: 1.8em; }

	

/* ---------------------------------
4. SLIDER
--------------------------------- */

.inner-form { width : 100%; margin-top : 50px; display: flex; justify-content:center; align-items: center; }

select { width : 200px; height: 70px; display: flex; border : 2px solid #aaaaaa; border-radius: 20px;
	font-size: larger;
}

option { border-bottom: 1px dashed rgb(170, 72, 72); padding: 5px 15px 5px; transition: .1s;}

input { width : 25em; height: 3em; border: 0; background: #bbbbbb; border-radius: 20px;
	padding: 10px 20px 10px; color : cornsilk; font-size: large;
}

.third-wrap { width : 10%; height: 10%;}


/* ---------------------------------
5. SINGLE POST
--------------------------------- */

.single-post{ display: flex; flex-direction: column; justify-content : center;  width:100%; margin-bottom: 50px;}

.single-post-main { display : flex; justify-content:center; width : 100%; }

.single-post-bottom { display : flex; justify-content: space-between; width : 100%; }

.single-post .image-wrapper { width : 100%; height: 20%;}

.single-post .board-info { width : 200%; }

.single-post .title{ width : 100%; }

.single-post .content{ width : 100%; }

.single-post .date{ color: #999; }

.single-post .read-more-btn{ clear: both; box-shadow: 1px 10px 15px rgba(0,0,0, .15);
	border: 1px solid #FFAD4D; background: #fff; color: #FFAD4D; }

.single-post .read-more-btn:hover{ box-shadow: 1px 3px 15px rgba(0,0,0, .15); background: #FFAD4D; color: #fff; }

/* PAGINATION */

.pagination { display: inline-block; font-size: 1.4rem; cursor: pointer; }

.pagination li { padding: 8px 16px 10px 20px; }

/* ---------------------------------
8. FOOTER
--------------------------------- */

footer{ background: #29333C; color: #ddd; text-align: center;}

footer .footer-section{ margin: 30px 0; }

.footer-section img { width : 100px; height: 100px; }

footer .copyright{ color: #ddd;  }

footer .social-icons{ text-align: right; }

footer .social-icons > li > a{ padding-left: 15px; }

/*----------------------------------

LOGIN PAGE

 */

.btn-login { background: lightsteelblue; border:none; color : black;}

.btn-kakao { background: #f9e000; border:none;}