<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

    <body>
    <div class="member_login">
        <form th:action="@{/login}" th:method="POST">
            <div class="member_login_input">
                <input type="text" name="email" placeholder="이메일" >
            </div>

            <div class="member_login_input">
                <input type="password" name="password" placeholder="비밀번호">
            </div>

            <div class="member_login_btn">

                <input type="submit" class="btn btn-secondary" id="btn-login" value="로그인">

                <input type="button" class="btn btn-secondary" value="회원이 아니신가요?" onclick="location.href='/join'">

            </div>

        </form>
    </div>
    </body>

</div>